* {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    height: 10vh; 
    width: 100%;
    background-color: rgb(40, 40, 40);
}

nav {
    position: absolute;
    right: 15%;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: rgb(182, 182, 182);
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    font-weight: bolder;
    color: white;
}

main {
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 90vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-container {
    height: 700px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 50px 0;
}

#contact-header {
    color: white;
    font-size: 60px;
    margin-bottom: 10px;
}

#contact-description {
    color: white;
    font-size: 24px;
}

.media-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.media-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-icon {
    height: 150px;
    width: 150px;
    margin-top: 10px;
    filter: invert(42%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

.contact-icon:hover {
    filter: invert(100%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

.email-form {
    color: white;
    margin: 40px 0 0;
}

