* {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    height: 10vh; 
    width: 100%;
    background-color: rgb(40, 40, 40);
}

nav {
    position: absolute;
    right: 15%;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: rgb(182, 182, 182);
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    font-weight: bolder;
    color: white;
}

.main1 {
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 70vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container {
    height: 500px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px 0;
}

.name-image {
    width: 40%;
    height: 100%;
    text-align: center;
    border-radius: 4px;
}

#about-image {
    height: 400px;
    width: 400px;
    transition: transform 0.25s 0.25s ease;
}

#about-image:hover {
    transform: scale(1.1);
}

.biography {
    height: 100%;
    width: 50%;
    color: white;
}

#bio-title {
    font-size: 60px;
    margin-bottom: 30px;
}

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contact-icon {
    height: 70px;
    width: 70px;
    margin-top: 10px;
    filter: invert(42%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

.contact-icon:hover {
    filter: invert(100%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

.main2 {
    background-color: rgb(40, 40, 40);
    height: 110vh;
    width: 100%;
    align-items: center;
}

.work-container {
    width: 70%;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
}

#work-container-title {
    color: white;
    font-size: 30px;
    margin-top: 50px;
}

.project-grid {
    height: 300px;
    width: 1000px;
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 15% 850%;
    gap: 10px;
    padding: 10px;
    margin: 10px 0 10px;
    border: 0.5px solid white;
    border-radius: 10px;
    transition: transform 0.25s 0.25s ease;
}

.project-grid:hover {
    transform: scale(1.1);
}

.project-image {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 270px;
    height: 270px;
    border-radius: 10px;
    margin: 5px 10px 0;
}

.project-title {
    grid-column: 2;
    grid-row: 1;
    font-size: 20px;
}

.project-title:link {
    color: #4285F4;
    text-decoration: none;
}

.project-title:visited {
    color: #4285F4;
    text-decoration: none;
}

.project-title:hover {
    color: #4285F4;
    text-decoration: underline;
}

.project-description {
    grid-column: 2;
    grid-row: 2;
    color: white;
    font-size: 16px;
}